.root {
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .header {
    display: flex;
    align-items: center;
    column-gap: 15px;

    h2 {
      margin: 0;
    }
  }

  .additionalContent {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}
