@import 'styles/mixins/typography.scss';

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* Убрать полосу прокрутки для всей страницы */
::-webkit-scrollbar {
  width: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include body;
}

// #app ≈ body
#app {
  color: var(--color-text);
  // background-color: var(--color-bg);
  min-height: 100vh;
}

#__next {
  height: 100%;
  min-height: 100vh;
}

// Typography
h1 {
  font-size: calc(var(--yr) * 9);
  line-height: calc(var(--yr) * 11.5);
}
h2 {
  font-size: calc(var(--yr) * 7);
  line-height: calc(var(--yr) * 9);
}
h3 {
  font-size: calc(var(--yr) * 5.5);
  line-height: calc(var(--yr) * 8);
}
h4 {
  font-size: calc(var(--yr) * 5);
  line-height: calc(var(--yr) * 7);
}
h5 {
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 5.5);
}
h6 {
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 5.5);
}
