* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* Убрать полосу прокрутки для всей страницы */
::-webkit-scrollbar {
  width: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-base);
  background-color: var(--background-color-base);
}

body {
  font-size: var(--font-size-regular);
  line-height: var(--line-height-base);
  background-color: var(--background-color-base);
  min-height: 100vh;
}

#__next {
  height: 100%;
}

:global {
  .ant-form-item .ant-form-item-label {
    text-align: start;
  }
}
