html {
  /* Rhythm */
  --yr: 0.25rem;

  /* Typography */
  --line-height-base: 1.5715;
  --font-size-base: 16px;
  --font-size-small: calc(var(--yr) * 3);
  --font-size-small-plus: calc(var(--yr) * 3.25);
  --font-size-regular: calc(var(--yr) * 3.5);
  --font-size-regular-plus: calc(var(--yr) * 3.75);

  /* Colors */
  --primary-color: #185dff;
  --error-color: #f5222d;
  --success-color: #52c41a;
  --border-color: #eff1f4;
  --basic-white: #ffffff;
  --background-color-base: var(--basic-white);
  --background-color-light-grey: #f4f5f8;
  --text-secondary: #6b6f76;
  --border-secondary: #d9d9d9;
  --text-find-color: #f50;
  --title-find-color: #e6f4ff;
  --text-disabled-color: rgba(0, 0, 0, 0.25);
}