.root {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .form {
    margin-top: 20px;

  }

  .image {
    margin-bottom: 20px;
    border-radius: 50%;
    padding: 2px;
    border: 3px solid var(--color-primary);
  }

  .specifications {
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .specification {
      display: flex;
      column-gap: 30px;
      align-items: center;
      justify-content: space-between;

      & > span {
        display: block;
      }
    }
  }

  .button {
  }

  .articlesTitle {
    margin-top: 50px;
    font-weight: 700;
    color: var(--color-secondary);
  }

  .articles {
    align-self: flex-start;
  }
}
