.root {
  margin-bottom: 30px;
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;

  .card {
    height: 130px;
    border-radius: 12px;
    padding: 10px;
    display: flex;

    h5 {
      align-self: flex-end;
    }
  }
}
