$paddings: 60px;
$outer-paddings: 20px;

.root {
  position: relative;
  height: 100%;

  .oops {
    visibility: hidden;
  }


  .header {
    // background-color: white;
    // border: 1px solid var(--color-border);

    // position: sticky;
    // top: 0;
    // z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 26px;
    
    margin: 0 $outer-paddings 20px;

    padding: 0 $paddings;

    .leftSide {
      display: flex;
      align-items: center;
      position: relative;

      .menu {
        background-color: inherit;
      }
    }

    .rightSide {
      display: flex;
      column-gap: 36px;
      align-items: center;
    }
  }

  .content {
    margin: 0 calc($paddings + $outer-paddings);
  }
}
