.root {
  padding-bottom: 10px;

  .events {
    margin-top: 20px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .event {
      position: relative;
      overflow: hidden;
      height: 300px;
      padding: 30px;
      background: linear-gradient(
        180deg,
        rgba(109, 54, 227, 0.65) 50%,
        rgba(109, 54, 227, 0) 100%
      );
      border-radius: 50px;
      border: 1px solid grey;

      .content {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        color: aliceblue;

      }

      .img {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
