.root {
    h1 {
      color: var(--color-secondary);
    }
  
    .forWhom {
  
      h1 {
        text-align: center;
      }
  
      .features {
        margin-top: 50px;
        padding: 0 200px;
  
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        row-gap: 50px;
  
        .feature {
          min-height: 150px;
          font-size: 18px;
          border: 1px solid var(--color-primary);
          border-radius: 40px;
          padding: 20px 30px;
        }
      }
    }
  
    .useful {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  
    .articles {
      display: flex;
      gap: 15px;
      align-items: flex-start;
    }
  }
  